<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gin.xjh.shin_music">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:hardwareAccelerated="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".music_play_Activity"/>
        <activity android:name=".login_menu_Activity"/>
        <activity android:name=".album_details_Activity"/>
        <activity android:name=".add_question"/>
        <activity android:name=".register_Activity"/>
        <activity android:name=".updata_Activity"/>
        <activity android:name=".updata_password_Activity"/>
        <activity android:name=".music_details_Activity"/>
    </application>

</manifest>